.card {
  background-color: #ffffff80;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 6px 5px 1px 0 rgba(0, 0, 0, 0.7);
}

.card h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: #272262;
  margin-bottom: 20px;
}